body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.main-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.language a {
    margin-right: 10px;
}

.header-buttons a {
    padding: 10px 20px;
    border: 2px solid red;
    margin-left: 10px;
}

.btn-outline {
    color: red;
}

.btn-red {
    color: red;
}

.btn-outline:hover {
    opacity: 0.4;
    background-color: #ffcccc;
}

.btn-red:hover {
    opacity: 0.4;
    background-color: #ffcccc;
}

main {
    padding: 40px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.red-text {
    color: red;
}

.advice-cards, .video-cards {
    display: flex;
    gap: 20px;
}

.card, .video-card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.video-card img {
    width: 100%;
}

.service-buttons a {
    padding: 15px 30px;
    border: 2px solid red;
    color: red;
    margin-right: 20px;
}

footer {
    background-color: #111;
    color: white;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-logo img {
    width: 30px;
    border-radius: 15px;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
}

.social-media a img {
    margin-right: 20px;
    width: 30px;
    border-radius: 15px;
}

.authors {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}